.btn .icon {
  display: inline-block;
  width: 40px;
  height: auto; }
.btn svg,
.btn svg * {
  width: 100%;
  height: auto; }
  .btn svg *,
  .btn svg * * {
    fill: white;
    width: 100%;
    height: auto; }
.btn-print {
  min-height: 100px; }
  .btn-print svg {
    width: 20px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1; }
  .lead .icon {
    width: 24px;
    height: auto; }
  .icon svg {
    width: 100%;
    height: auto;
    fill: black; }
    .text-info .icon svg {
      fill: #31708f; }

.form-file {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
  z-index: 2;
  background-color: #f1f1f1;
  border: 2px dashed rgba(0, 0, 0, 0.1); }
  .form-file_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    margin: auto;
    text-align: center;
    font-size: 2em; }
  .form-file_value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: orange;
    margin: auto;
    text-align: center;
    font-size: 2em;
    color: white; }
    .form-file_value:empty {
      display: none; }

input[type=file] {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer; }

@media screen {
  .receipt_wrapper {
    position: relative; }
    .receipt_wrapper:not(:first-child) {
      margin-top: 100px; }
    .receipt_wrapper:not(:last-child) {
      margin-bottom: 100px; }
      .receipt_wrapper:not(:last-child):after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
        border-bottom: 2px dashed black; } }
.receipt_header {
  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 1rem; }
.receipt_body {
  position: absolute;
  top: 120px;
  left: 90px;
  right: 0; }
.receipt_footer {
  position: absolute;
  bottom: 0;
  left: 0; }
.receipt_item {
  position: relative;
  width: 824px;
  height: 577px; }
  @media print {
    .receipt_item {
      page-break-inside: avoid; } }
  @media screen {
    .receipt_item:not(:first-child) {
      margin-top: 100px; }
    .receipt_item:not(:last-child) {
      margin-bottom: 100px; }
      .receipt_item:not(:last-child):after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
        border-bottom: 2px dashed rgba(0, 0, 0, 0.2); } }
.receipt_company {
  position: absolute;
  top: 55px;
  right: 0; }
  .receipt_company h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0; }
    @media print {
      .receipt_company h1 {
        font-size: 25pt; } }
.receipt_customer_order {
  font-size: 5em;
  font-weight: bold;
  margin-top: 0.3em;
  line-height: 1; }
.receipt_description {
  font-size: 50px;
  margin-bottom: 0; }
  .receipt_description_type {
    display: inline-block;
    width: 6.5em; }
  .receipt_description_value {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 280px; }
.receipt_barcode_wrapper {
  width: 600px; }
  .receipt_footer .receipt_barcode_wrapper {
    width: 700px; }
  .receipt_barcode_wrapper-side {
    position: absolute;
    top: 70%;
    width: 22%;
    margin: auto 0;
    right: 1.5rem;
    transform-origin: top right;
    transform: rotate(90deg); }
.receipt_barcode_image {
  width: 100%;
  min-height: 60px; }
  .receipt_footer .receipt_barcode_image {
    min-height: 90px; }
  .receipt_barcode_wrapper-side .receipt_barcode_image {
    min-height: 22px; }
.receipt_barcode_code {
  display: block;
  font-size: 1.5em;
  text-align: center; }
  .receipt_header .receipt_barcode_code {
    letter-spacing: 12px; }
  .receipt_footer .receipt_barcode_code {
    letter-spacing: 17px; }
  .receipt_barcode_wrapper-side .receipt_barcode_code {
    font-size: 6pt;
    margin-top: 3pt;
    letter-spacing: 3px; }

.navbar-brand {
  background-image: url("../media/logo_600.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  text-indent: -9999px;
  width: 50px;
  margin-left: 0 !important; }

span.editable-container.editable-inline {
  position: absolute;
  bottom: 100%;
  left: -1em;
  z-index: 1;
  background: white;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.table > tbody > tr > td {
  position: relative; }

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child {
  text-align: center; }

.lead-has-icon {
  margin-left: 30px; }
  .lead-has-icon .icon {
    margin-left: -30px; }

@page {
  size: A5 landscape;
  margin: 0.5cm;
  page-break-after: always; }
@media print {
  .btn,
  nav,
  footer,
  hr {
    display: none; } }

/*# sourceMappingURL=main.css.map */
