.btn {

  .icon {
    display: inline-block;
    width: 40px;
    height: auto;
  }

  svg,
  svg * {
    width: 100%;
    height: auto;

    * {
      fill: white;
      width: 100%;
      height: auto;
    }

  }

  &-print {
    min-height: 100px;

    svg {
      width: 20px;
    }

  }

}
