span.editable-container.editable-inline {
  position: absolute;
  bottom: 100%;
  left: -1em;
  z-index: 1;
  background: white;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
