.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  .lead & {
    width: 24px;
    height: auto;
  }

  svg {
    width: 100%;
    height: auto;

    fill: black;

    .text-info & {
      fill: #31708f;
    }

  }

}
