.navbar-brand {
  background-image: url('../media/logo_600.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  text-indent: -9999px;
  width: 50px;
  margin-left: 0 !important;
}
