$gap-border: 4rem;
$paper-margin: 18px;

.receipt {

  &_wrapper {

    @media screen {
      position: relative;

      &:not(:first-child) {
        margin-top: 100px;
      }

      &:not(:last-child) {
        margin-bottom: 100px;

        &:after {
          content: "";
          position: absolute;
          bottom: -50px;
          left: 0;
          right: 0;
          border-bottom: 2px dashed rgba(0, 0, 0, 1);
        }

      }

    }

  }

  &_header {
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 1rem;

    @media screen {
      // top: $gap-border + 1.5rem;
    }

  }

  &_body {
    position: absolute;
    top: 120px;
    left: 90px;
    right: 0;
  }

  &_footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &_item {
    position: relative;
    // This are A5 paper dimensions with margins calculated inside, so @page needs to be margin: 0
    width: 842px - $paper-margin;
    height: 595px - $paper-margin;

    @media print {
      page-break-inside: avoid;
    }

    @media screen {

      &:not(:first-child) {
        margin-top: 100px;
      }

      &:not(:last-child) {
        margin-bottom: 100px;

        &:after {
          content: "";
          position: absolute;
          bottom: -50px;
          left: 0;
          right: 0;
          border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
        }

      }

    }

    // @media screen {
    //
    //   &:not(:first-child) {
    //     margin-top: $gap-border;
    //     padding-top: $gap-border;
    //     border-top: 3px dashed #dcdcdc;
    //   }
    //
    // }

  }

  &_company {

    position: absolute;
    top: 55px;
    right: 0;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      @media print {
        font-size: 25pt;
      }
    }
  }

  &_customer {

    &_order {
      font-size: 5em;
      font-weight: bold;
      margin-top: 0.3em;
      line-height: 1;
    }

  }

  &_description {
    font-size: 50px;
    margin-bottom: 0;

    &_type {
      display: inline-block;
      width: 6.5em;
    }

    &_value {
      display: inline-block;
      font-weight: bold;
    }

  }

  &_barcode {

    &_wrapper {
      width: 600px - $paper-margin;

      .receipt_footer & {
        width: 700px;
      }

      &-side {
        position: absolute;
        top: 70%;
        width: 25%;
        margin: auto 0;
        right: 1.5rem;
        transform-origin: top right;
        transform: rotate(90deg);
      }

    }

    &_image {
      width: 100%;
      min-height: 60px;

      .receipt_footer & {
        min-height: 90px;
      }

      .receipt_barcode_wrapper-side & {
        min-height: 25px;
      }

    }

    &_code {
      display: block;
      font-size: 1.5em;
      text-align: center;

      .receipt_header & {
        letter-spacing: 12px;
      }

      .receipt_footer & {
        letter-spacing: 17px;
      }

      .receipt_barcode_wrapper-side & {
        font-size: 6pt;
        margin-top: 3pt;
        letter-spacing: 4px;
      }

    }

  }

}
